body,.footer {
    background-color: #111;
}
body{text-align:center;}
body,input,html,td {
    font-family: "Roboto Condensed", sans-serif;
}

body,a {
    color: #eee;
}



td {
    /* margin: 0; */
    text-align: center;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.pr {
    padding-right: 10px;
}
.pc{ padding: 0px 40px;}
#lang {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
}

#lang img {
    opacity: 0.1;
    /* filter: grayscale(100%); */
    cursor: pointer;
    padding: 1px 1px 0px 0px;
}

#lang img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-out;
    /* filter: grayscale(0%); */
}

#lang img.selected {
    filter: grayscale(0%);
    opacity: 1;
}

.footer {
    position: fixed;
    left: 0px;
    right: 0px;
    /* border: 1px #00BCD4 solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0px;
    font-weight: 200;
}

a:link,a:visited,a:active {
    text-decoration: none;
}

a:hover {
    color: #72b7ff;
}

.city_edits {
    display: flex;
    /* justify-content: space-around; */
    
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.dropdown_box {
    /* border: 1px #c60000 solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin:3px;
}

.dropdown_cont {
    position: relative;
    /* width: 70%; */
    /* border: 1px #4ae300 dotted; */
}

.dropdown_list,.dropdown_edit {
    /* width: 100%; */
}

.dropdown_list div,.dropdown_edit {
    padding: 7px 10px;
    font-weight: 400;
}

.dropdown_edit {
    border: 2px solid #434343;
    border-radius: 6px;
    color: #000000;
    outline: none;
    min-width: 250px;
    /* right: 0px; */
}

.dropdown_list {
    border: 1px #aaa solid;
    border-radius: 5px;
    background-color: #111;
    max-height: 300px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 99%;
}

.dropdown_list div {
    text-align: left;
    cursor: pointer;
}

span.region {
    color: #414141;
    padding-left: 6px;
    font-weight: 200;
}

.dropdown_list div.selected {
    background-color: #222;
}

.dropdown_hide {
    display: none;
}

/*********************
desktop
**********************/
@media (min-width: 768px) {
    body,html,input {
        font-weight: 200;
        font-size: 18px;
    }

    body {
        /* max-width: 900px; */
    }
table {
    /* align-self:fullscreen; */
    margin: 0px auto;
    width:700px;
    min-width:600px;
    max-width:800px;
}
    td.small_block {
        height: 120px;
    }

    .hdr1 {
        font-size: 60px;
        font-weight: 600;
    }

    .hdr2 {
        font-size: 40px;
        font-weight: 500;
    }

    .footer {
        height: 32px;
    }

    .footer div {
        font-size: 16px;
        padding: 0px 50px;
    }

    img.karry {
        width: 50%;
    }

    .city_edits {
        flex-direction: row;
    }

    .city_label {
        min-width: 100px;
    }
}

/*********************
PHONE 
**********************/
@media (max-width: 768px) {
    body,html,input {
        font-weight: 200;
        font-size: 12px;
    }
table {
    /* align-self:fullscreen; */
   margin: 8px 10px;
   /* width:100%; */
   
}
    td.small_block {
        height: 80px;
    }

    .hdr1 {
        font-size: 22px;
        font-weight: 400;
    }

    .hdr2 {
        font-size: 17px;
        font-weight: 400;
    }

    img.karry {
        width: 80%;
    }

    .footer {
        height: 20px;
    }

    .footer div {
        font-size: 9px;
        padding: 0px 10px;
    }

    #lang {
        flex-direction: column;
    }

    .city_edits {
        flex-direction: column;
    }

    .city_label {
        min-width: 50px;
    }
}

/*********************
DEBUG
**********************/
table {
    border-collapse: collapse;
}

td {
    /* border: 1px solid #faff0030; */
}

.dropdown_cont {
    /* border: 1px #00ea06 solid; */
}
