.oswald400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #111;
    margin: 0;
    padding: 0;
    text-align: center;
}

body,input {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

body,a {
    color: #eee;
}

.flex_lc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.fntsmall {
    font-size: smaller;
    font-weight: 200 ;
}

.flex_cc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

#lang {
    position: fixed;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
}

#lang img {
    /* padding:0px;margin:0px; */
    /* border:1px solid yellow; */
    opacity: 0.3;
    /* border: 2px solid #555;    border-radius: 4px; */
    cursor: pointer;
}

#lang img.selected {
    opacity: 1;
}

#lang img:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.flexinputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.dropdown_box {
    /* border: 2px dashed #ff0000; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 50px;
}

.dropdown_box label {
    padding-right: 10px;
}

.dropdown_cont {
    position: relative;
    /* Создает контекст позиционирования для дочерних элементов */
    width: 300px;
    /* Ширина родительского div */
    height: 50px;
    /* Высота родительского div */
    /* border: 1px #d7a600 dotted; */
}

.dropdown_edit {
    /* position: absolute; */
    padding: 10px ;
    border: 2px solid #434343;
    border-radius: 6px;
    color: #000000;
    font-size: 20px;
    outline: none;
    width: 280px;
    /* height: 40px; */
}

.dropdown_edit:hover,.dropdown_edit:focus {
    border-color : #3678bc;
    transition: all 0.3s ease;
}

.dropdown_list {
    border: 1px #ffffff solid;
    border-radius: 5px;
    background-color: #111;
    /* position: absolute; */
    top: 40px;
    left: 0;
    /* min-width: 100%; */
    width: 100%;
    /* Занимает всю ширину родителя */
    max-height: 300px;
    z-index: 10;
    /* Располагает overlay поверх других элементов */
    overflow-y: auto;
    /* Вертикальная прокрутка */
    overflow-x: hidden;
    /* Отключение горизонтальной прокрутки */
}

.dropdown_list div {
    /* border: 1px #5ce300 dotted; */
    height: 24px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.dropdown_list div.selected {
    background-color: #222;
}

.dropdown_hide {
    display: none;
}

span.region {
    color: #414141;
    font-size: smaller;
    padding-left: 6px;
    /* font-style:italic; */
}

/*
PAGE SPECIFIC

*/
.hdr1 {
    color: #f1f1f1;
    font-size: xxx-large;
    font-weight: bolder;
    /* text-shadow: rgba(230,230,230,0.9) 0px 0px 2px; */
}

.hdr2 {
    color: #f1f1f1;
    font-size: xx-large;
    font-weight: bolder;
    /* text-shadow: rgba(230,230,230,0.9) 0px 0px 2px; */
}

.footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 32px;
    /* border: 1px #00BCD4 solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer div {
    /* border: 1px #ffed00 solid; */
    padding: 0px 20px;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    /* font-weight: 200; */
    /* font-size:smaller; */
}

#messenger_icons {
    padding-top: 30px;
}

body {
    /* border: 1px #ffed00 solid; */
    width: 1000px;
    margin: auto;
}
