<!doctype html>
<html lang="{{ page_lang }}">
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

</head>

<body>

    <span data-lang="page_header_1">page_header1</span><br>
    <span data-lang="page_header_2">page_header2</span><br>
    {{ page_header2 }}<br>
    <br>
    <div id="lang">
        {% for lang in languages %}
        <img src="../img/lang{{ loop.index0 }}.png" data-langid="{{ loop.index0 }}" width="24" height="24" alt="{{ lang.abbr }}" />
        {% endfor %}
    </div>


    <br>
    <label for="mista"  data-lang="city_from">city_from</label>
    <input type="text" name="mista" id="mista" class="txtinput" data-id="0" >
    <label for="mihin"   data-lang="city_to">city_to</label>
    <input type="text" name="mihin" id="mihin" class="txtinput" data-id="1" >
    <br>
    Calculations:<div></div>
    <br>
    <br>
    {{ phone_num1 }}<br>
    040 222 33 44<br>
    {{ phone_num2 }}<br>
    <div id='dbg'>debug</div>
</body>

</html>